<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid  allhersbsBg">
	<div class="yourherbs">
		<h6>{{ title }} </h6>
	</div>
      <div class="search_form">
    <form method="POST" action="{{ url_for('searchbar') }}">
      <!-- input -->
      <div class="input-field">
        <input
          id="search_herb"
          type="text"
          name="search_herb"
          minlength="3"
          required
          placeholder="search the herb name or cure here"
        />
        <!-- Search button -->
        <button class="" type="submit" name="action">
          Search
        </button>
      </div>
    </form>
  </div>
	<!--Cycles through all the herbs-->
	<div class="row">
		{% for herb in herbs %}
		{% include 'herbcards.html' %}
		{% endfor %}
	</div>
	<!--Pagination-->
	<div class="pagination-center">
		<div class="pagination">
			<ul class="button-pignation">
				{% for page_num in pages %}
				{% if page_num == current_page %}
				<li class="active"><a>{{ page_num }}</a></li>
				{% else %}
				<li class="">
					<a href="{{ url_for('all_herbs', current_page=page_num) }}">{{ page_num }}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}