<!DOCTYPE html>
<div class="col-md-4 col-lg-3 col-sm-12">
<div class="card cardadjustment heightcard">
<a href="{{ url_for('herb', herb_id=herb._id) }}"> 
  {% if herb.herb_image %}
    <img src="{{herb.herb_image}}" class="herb_image card-img-top  img-thumbnail  img-fluid" alt="{{herb.herb_name}}">
  {% else %}
    <img src="{{ url_for('static', filename='herbsimages/herb_placeholder.jpg') }}"
            class="herb_image card-img-top img-thumbnail   img-fluid " alt="No Herb image available" />
  {% endif %}      
</a>
  <div class="card-body">
    <div class="cu">
      <h5 class="card-title">{{ herb.herb_name }}</h5>
    </div>
    <div>
      <h5 class="card-title cu">{{ herb.herb_cure }}</h5>
    </div>
    <div class="reviewblock">
      <div><a href="{{ url_for('herb_reviews', herb_id=herb._id) }} " class="review"> Reviews </a></div>
      <div><a href=" {{ url_for('add_review', herb_id=herb._id ) }}" class="plus"> + </a></div>
    </div>
</div>
</div>
</div>

 

